<div class="padding">
  <div class="input-group w-25 p-3 justify-content-center mx-auto">
    <div class="custom-file">
      <input class="custom-file-input" (change)="selectScript($event.target.files[0])" type="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">{{fileName}}</label>
    </div>
  </div>

  <div class="text-center">
    <b>Tipo de Archivo:</b> {{currentFileType}}
  </div>


  <br>
  <div class="row padding-row">
    <div class="column column-left">
      <pre>
        <code class="rounded" [highlight]="code" [languages]="['javascript', 'java', 'python']" [lineNumbers]="true"></code>
      </pre>
    </div>

    <div class="column column-right">
      <div>
        <pre>
          <code class="rounded" [highlight]="code" [languages]="['javascript', 'java', 'python']" [lineNumbers]="true"></code>
        </pre>
      </div>
    </div>
  </div>

</div>

