<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 7vh; width: 100vw;">
  <a class="navbar-brand" [routerLink]="['students']"> <b>Universidad Nacional de Loja</b></a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['students']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['complexity']">Complejidad Ciclomática</a>
      </li>
      </ul>
  </div>
</nav>
