/* @import '~highlight.js/styles/dracula.css'; */

.padding {
  padding: 20px;
}

.padding-row{
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  display: flex;
}

.column {
  flex: 30%;
}

.rounded {
  border-radius: 800px;
}


.column-left{
  margin-right: 50px;
}

.column-right{
  margin-left: 50px;
}


.code{
  width: 500px;
}

.graph_background{
  background-color: aquamarine;
  display: flex;
  margin-top: 20px;
}
